@model ETAWarrantLookup.ViewModels.PaymentOptionsViewModel

@{
    ViewData["Title"] = "Payment";
}
<br />

<div class="card">
    <div class="card-header">
        <p>
            Please select your subscription options from the choices below. After clicking "Confirm" you will be redirected to our third-party payment site for processing.
        </p>
        <p>
            <div id="radio_box">
                @foreach(var paymentOption in Model.paymentOptions.OrderBy(m => m.DisplayOrder))
                {
                    <input type="radio" id=@paymentOption.PaymentOptionId name="contacts" value=@paymentOption.Price>
                    <label for=@paymentOption.PaymentOptionId> @paymentOption.Description</label>
                    <br />
                }
            </div>
        </p>
    </div>
    <div class="card-body">
        <form action=@Model.paymentUrl method="post">
            <div class="form-group">
                <input type="hidden" name="uniq_id" id="uniq_id" value=@Model.referenceToken />
            </div>
            <div class="form-group">
                <label for="amount">Amount</label>
                <input type="text" class="form-control" readonly name="amount" id="amount" value=""/>
            </div>
            <input type="hidden" name="portal_id" value="gp2993" />
            <input type="hidden" name="redirect_url" value=@Model.redirectUrl />
            <button type="submit" class="btn btn-info btn-lg">Confirm</button>
        </form>
    </div>
    <div class="card-footer"></div>
</div>


@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#oneTime").prop("checked", true);
        });

        $('#radio_box').change(function () {
            selected_value = $("input[name = 'contacts']:checked").val();
            $('#amount').val(selected_value);            
        });
    </script>
}